/* FOR LINKS */
p a{
    text-decoration: none;
    color: gray;
}

p a:hover {
    color: black;
}
p a:active {
    color: gray;
}

/* CARDS */
.cards {
    display: flex;
}
.card {
    width: 90%;
    margin: auto;
    margin: 0 20px ;
}